body {
  background-color: mediumorchid !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik Doodle Shadow";
}

/* Header */

nav {
  padding: 0 !important;
}

.header {
  background-color: pink !important;
  
}

.navbar-brand,
.nav-link {
  color: magenta !important;
}

.navbar-brand {
  font-size: 3em !important;
  color: magenta !important;
  
}

/* Buttons */

.logoutBtn {
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.btn {
  background-color: pink !important;
  border: pink !important;
  font-size: 1em !important;
}